# バックアップディレクトリの場所
# このフォルダ内の日付の付いたフォルダが作成されます
backupDir="/var/backups/mysql"

# フルバックアップの間隔は何時間にしたいですか？
# たとえば、12時間に設定し、スクリプトを1時間ごとに実行すると、
# スクリプトは12:00にフルバックアップを作成し、増分を作成します
# 23:00までのバックアップ。 00:00に次のフルバックアップを作成します。
# インクリメンタルバックアップは、XtraDB / InnoDBテーブルにのみ適用可能です。
# あなたがMyISAMテーブルを持っているならば、それらは毎回完全にコピーされます
hoursBeforeFull=12

# MySQLサーバーにアクセスするユーザー名
# Debianでmysqlパッケージ化されたインストールを使用する場合は、デフォルト
# 他のディストリビューションでは、あなたのMySQL資格情報
mysqlUser=`grep user /etc/mysql/debian.cnf | tail -n 1 | cut -d"=" -f2 | awk '{print $1}'`
mysqlPwd=`grep password /etc/mysql/debian.cnf | tail -n 1 | cut -d"=" -f2 | awk '{print $1}'`

# バックアップを圧縮するかしないか
# 圧縮をtrue / falseに設定する
# 圧縮はデフォルトで有効になっています
compression=true

# 圧縮スレッドの数を設定する
# デフォルトは1
compressThreads=1

# バックアップを保持する日数（完全バックアップと増分バックアップを含む）
keepDays=7

# 電子メール通知を送信しますか？
# 可能な値：always、onerror、never
sendEmail=never

# どの電子メールアドレスに送信する
emailAddress=
